.V_col_box_shadow {
    box-shadow: 1px 1px 20px 0.5px #0000000F;
    padding: 20px;
}

.V_col_text {
    font-size: 16px;
}

.V_col_number {
    font-size: 22px;
    font-weight: 600;
}

.V_col_img_size {
    width: 60px;
    height: 60px;
}

.V_col_img_back {
    width: 60px;
    height: 60px;
}

.V_col_persent {
    font-size: 16px;
    font-weight: 600;
}

.V_col_radius {
    border-radius: 4px;
    padding: 5px 10px;
}

.V_col_img_up_size {
    width: 20px;
    height: 20px;
}

.V_main_main_flex {
    display: flex;
}

.V_main_flex {
    display: flex;
    flex-wrap: wrap;
}

.V_flex_with_width {
    display: flex;
    width: 100%;
}

.V_month_div {
    border-radius: 6px;
    padding: 5px 10px;
    outline: none;
}

.V_select {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #36454F;
}

/* ============ charts ============ */

.V_chart_heading {
    font-weight: 500;
    font-size: 22px;
}

.V_chart_width {
    width: 70%;
}


.V_months_icon {
    font-size: 20px;
    font-weight: 300;
    color: #36454F;
}

.V_chart_container {
    width: 100%;
    height: 100%;
}

/* ============ stock alert ============ */
.V_stock_alert_table{
    width: 100%;
}

.V_stock_alert_table thead tr th {
    padding-left: 20px;
    text-align: start;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #36454F;
    font-weight: 600;
    font-size: 20px;
    text-wrap: nowrap;
}

.V_stock_alert_table thead tr {
    border-bottom: 0.8px solid #7272724D;
}

.V_stock_alert_table tbody tr td {
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #292929;
    font-weight: 400;
    font-size: 16px;
}

.V_stock_alert_table tbody tr {
    border-bottom: 0.8px solid #7272724D;
}

.V_denger {
    color: #FF0000 !important;
}


/* ========== width 30% ========== */

.V_width_30 {
    width: 30%;
    margin-top: 12px;
}

/* ==========   recent notification ========== */

.V_recent {
    box-shadow: 1px 1px 20px 0.5px #0000000F;
}

.V_notification_text {
    font-weight: 500;
    font-size: 22px;
    color: #36454F;
}

.V_view_all {
    font-weight: 500;
    font-size: 14px;
    align-self: center;
    color: #36454F;
}

.V_recent_img_back {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FAE1E1;
}

.V_recent_text {
    font-weight: 500;
    font-size: 15px;
    color: #292929;
}

.V_recent_text_2 {
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}


/* ========== top selling pie chart ========== */


.V_pie_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.V_legent_text {
    font-size: 16px;
    /* font-weight: 600; */
}

.V_pie_chart_div {
    width: 63%;
    height: 250px;
}

.V_legent_div {
    width: 37%;
}

.V_recent_pie_chart_margin {
    margin-top: 20px;
    height: 250px;
}

.V_recent_pie_chart_margin2 {
    margin-top: 20px;
}

.V_pie_flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.V_pie_chart_div2 {
    width: 63%;
    height: 285px;

}

.V_legent_div2 {
    width: 37%;
}

.V_pie_radius {
    --pie-inner-radius: 40;
    --pie-outer-radius: 70;
}



















@media (min-width: 1920px) {
    .V_main_flex {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .V_flex_with_width {
        width: 50%;
        gap: 20px;
    }


    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 20px;
        width: 50%;
    }

    .V_col_text {
        font-size: 16px;
    }

    .V_col_number {
        font-size: 22px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 60px;
        height: 60px;
    }

    .V_col_img_back {
        width: 60px;
        height: 60px;
    }

    .V_col_persent {
        font-size: 16px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 20px;
        height: 20px;
    }


    /* ============ top selling pie chart ============ */

    .V_pie_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .V_legent_text {
        font-size: 16px;
        /* font-weight: 600; */
    }

    .V_recent_pie_chart_margin {
        margin-top: 20px;
        height: 340px;
    }

    .V_pie_chart_div {
        width: 63%;
        
    }

    .V_pie_chart_div2 {
        width: 63%;
        height: 285px;
    }

    .V_legent_div {
        width: 37%;
    }
}

@media (max-width: 1919px) and (min-width: 1650px) {
    .V_main_flex {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .V_flex_with_width {
        width: 50%;
        gap: 20px;
    }


    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 20px;
        width: 50%;
    }

    .V_col_text {
        font-size: 16px;
    }

    .V_col_number {
        font-size: 22px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 60px;
        height: 60px;
    }

    .V_col_img_back {
        width: 60px;
        height: 60px;
    }

    .V_col_persent {
        font-size: 16px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 20px;
        height: 20px;
    }

    /* ============ top selling pie chart ============ */

    .V_pie_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .V_legent_text {
        font-size: 16px;
        /* font-weight: 600; */
    }

    .V_pie_chart_div {
        width: 63%;
    }
    .V_recent_pie_chart_margin {
        margin-top: 20px;
        height: 340px;
    }

    .V_legent_div {
        width: 37%;
    }

}

@media (max-width: 1649px) and (min-width: 1441px) {
    .V_main_flex {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .V_flex_with_width {
        width: 50%;
        gap: 10px;
    }


    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 20px;
        width: 50%;
    }

    .V_col_text {
        font-size: 14px;
    }

    .V_col_number {
        font-size: 20px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 50px;
        height: 50px;
    }

    .V_col_img_back {
        width: 50px;
        height: 50px;
    }

    .V_col_persent {
        font-size: 14px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 18px;
        height: 18px;
    }

    /* ============ top selling pie chart ============ */

    .V_pie_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .V_legent_text {
        font-size: 12px;
        font-weight: 600;
    }

    .V_pie_chart_div {
        width: 63%;
    }

    .V_legent_div {
        width: 37%;
    }
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .V_main_flex {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .V_flex_with_width {
        width: 50%;
        gap: 10px;
    }


    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 10px;
        width: 50%;
    }

    .V_col_text {
        font-size: 12px;
    }

    .V_col_number {
        font-size: 16px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 35px;
        height: 35px;
    }

    .V_col_img_back {
        width: 35px;
        height: 35px;
    }

    .V_col_persent {
        font-size: 12px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 15px;
        height: 15px;
    }

    /* ============ top selling pie chart ============ */

    .V_pie_flex {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .V_legent_text {
        font-size: 12px;
        font-weight: 600;
    }

    .V_pie_chart_div {
        width: 63%;
    }

    .V_recent_pie_chart_margin {
        margin-top: 20px;
        height: 340px;
    }

    .V_legent_div {
        width: 37%;
    }

    .V_recent_pie_chart_margin2 {
        margin-top: 20px;
    }

    .V_pie_flex2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .V_pie_chart_div2 {
        width: 63%;
        height: 270px;

    }

    .V_legent_div2 {
        width: 37%;
    }

    .V_pie_radius {
        --pie-inner-radius: 40;
        --pie-outer-radius: 70;
    }
    .V_notification_text {
        font-weight: 500;
        font-size: 18px;
        color: #36454F;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .V_flex_with_width {
        display: flex;
        gap: 20px;
    }

    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 20px;
        width: 50%;
    }

    .V_col_text {
        font-size: 14px;
    }

    .V_col_number {
        font-size: 22px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 60px;
        height: 60px;
    }

    .V_col_img_back {
        width: 60px;
        height: 60px;
    }

    .V_col_persent {
        font-size: 16px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 7px 15px;
    }

    .V_col_img_up_size {
        width: 20px;
        height: 20px;
    }


    /* ============ charts ============ */

    .V_width_30 {
        width: 100%;
        margin-top: 0px;
    }

    .V_chart_width {
        width: 100%;
    }

    .V_stock_alert_width {
        width: 100%;
    }

    .V_flex_2_chart {
        display: flex;
        gap: 20px;
    }

    .V_main_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_pie_chart_div {
        width: 63%;
        height: 176px;
    }

    .V_pie_chart_div2 {
        width: 63%;
        height: 176px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .V_flex_with_width {
        display: flex;
        gap: 20px;
    }

    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 15px;
        width: 50%;
    }

    .V_col_text {
        font-size: 11px;
    }

    .V_col_number {
        font-size: 16px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 40px;
        height: 40px;
    }

    .V_col_img_back {
        width: 40px;
        height: 40px;
    }

    .V_col_persent {
        font-size: 12px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 20px;
        height: 20px;
    }


    /* ============ charts ============ */

    .V_chart_width {
        width: 100%;
    }

    .V_stock_alert_width {
        width: 100%;
    }


    /* ============ stock alert ============ */

    .V_stock_alert_width {
        width: 100%;
    }

    .V_stock_alert_table thead tr th {
        padding-left: 20px;
        text-align: start;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .V_stock_alert_table tbody tr td {
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
    }

    .V_flex_2_chart {
        /* display: flex; */
        flex-direction: column;
        gap: 20px;
    }

    .V_main_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_width_30 {
        width: 100%;
    }

    .V_pie_chart_div {
        width: 63%;
        height: 200px;
    }

    .V_legent_div {
        width: 37%;
    }

    .V_pie_chart_div2 {
        width: 63%;
        height: 200px;
    }

    .V_legent_div2 {
        width: 37%;
        justify-content: center !;
    }
}

@media (max-width: 767px) and (min-width: 577px) {

    .V_flex_with_width {
        display: flex;
        gap: 20px;
    }

    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 15px;
        width: 50%;
    }

    .V_col_text {
        font-size: 12px;
    }

    .V_col_number {
        font-size: 18px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 40px;
        height: 40px;
    }

    .V_col_img_back {
        width: 40px;
        height: 40px;
    }

    .V_col_persent {
        font-size: 12px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 20px;
        height: 20px;
    }

    /* ============ charts ============ */

    .V_chart_width {
        width: 100%;
    }

    /* ============ stock alert ============ */

    .V_stock_alert_width {
        width: 100%;
    }

    .V_stock_alert_table thead tr th {
        padding-left: 20px;
        text-align: start;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .V_stock_alert_table tbody tr td {
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
    }

    .V_flex_2_chart {
        /* display: flex; */
        flex-direction: column;
        gap: 20px;
    }

    .V_main_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_width_30 {
        width: 100%;
    }

    .V_pie_chart_div {
        width: 63%;
        height: 176px;
    }

    .V_legent_div {
        width: 37%;
    }

    .V_pie_chart_div2 {
        width: 63%;
        height: 200px;
    }

    .V_legent_div2 {
        width: 37%;
        justify-content: center !;
    }

}

@media (max-width: 576px) and (min-width: 481px) {
    .V_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_flex_with_width {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 20px;
        width: 100%;
    }

    .V_col_text {
        font-size: 14px;
    }

    .V_col_number {
        font-size: 20px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 50px;
        height: 50px;
    }

    .V_col_img_back {
        width: 50px;
        height: 50px;
    }

    .V_col_persent {
        font-size: 14px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 8px 16px;
    }

    .V_col_img_up_size {
        width: 20px;
        height: 20px;
    }


    /* ============ charts ============ */

    .V_chart_width {
        width: 100%;
    }

    .V_stock_alert_width {
        width: 100%;
    }

    .V_chart_container {
        min-width: 576px !important;
    }

    /* ============ stock alert ============ */

    .V_stock_alert_width {
        width: 100%;
    }

    .V_stock_alert_table thead tr th {
        padding-left: 20px;
        text-align: start;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .V_stock_alert_table tbody tr td {
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
    }

    .V_flex_2_chart {
        /* display: flex; */
        flex-direction: column;
        gap: 20px;
    }

    .V_main_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_width_30 {
        width: 100%;
    }

    .V_pie_chart_div {
        width: 63%;
        height: 180px;
    }

    .V_legent_div {
        width: 37%;
    }

    .V_pie_chart_div2 {
        width: 63%;
        height: 180px;
    }

    .V_legent_div2 {
        width: 37%;
        justify-content: center !;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .V_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_flex_with_width {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .V_col_box_shadow {
        box-shadow: 1px 1px 20px 0.5px #0000000F;
        padding: 12px;
        width: 100%;
    }

    .V_col_text {
        font-size: 12px;
    }

    .V_col_number {
        font-size: 18px;
        font-weight: 600;
    }

    .V_col_img_size {
        width: 40px;
        height: 40px;
    }

    .V_col_img_back {
        width: 40px;
        height: 40px;
    }

    .V_col_persent {
        font-size: 12px;
        font-weight: 600;
    }

    .V_col_radius {
        border-radius: 4px;
        padding: 3px 8px;
    }

    .V_col_img_up_size {
        width: 15px;
        height: 15px;
    }

    .V_select {
        font-size: 14px;
    }

    .V_month_div {
        height: 50px;
        padding: 7px 10px;
    }

    /* ============ charts ============ */

    .V_chart_width {
        width: 100%;
    }

    .V_chart_container {
        min-width: 500px !important;
    }

    /* ============ stock alert ============ */

    .V_stock_alert_width {
        width: 100%;
    }

    .V_stock_alert_table thead tr th {
        padding-left: 20px;
        text-align: start;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .V_stock_alert_table tbody tr td {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
    }


    .V_flex_2_chart {
        /* display: flex; */
        flex-direction: column;
        gap: 20px;
    }

    .V_main_main_flex {
        flex-direction: column;
        gap: 15px;
    }

    .V_width_30 {
        width: 100%;
    }

    .V_pie_chart_div {
        width: 57%;
        height: 180px;
    }

    .V_legent_div {
        width: 43%;
    }

    .V_pie_chart_div2 {
        width: 57%;
        height: 180px;
    }

    .V_legent_div2 {
        width: 43%;
        justify-content: center !;
    }

}

/* @media (max-width: 374px) and (min-width: 320px) {} */



@media (width: 1440px) {
    .V_pie_chart_div2 {
        width: 63%;
        height: 270px !important;
    }
}