.ds_sort_by{
    border: 1px solid #36454F;
    padding: 10px 18px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}
/* .ds_sort_by:hover{
    background-color: #36454F;
    color: white;
    border: 1px solid #36454F;
} */
.ds_sort_by_box{
    position: absolute;
    box-shadow: 1px 1px 20px 0.5px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    width: 100px;
    
}

@media (max-width:426px) {
    .ds_sales_box{
        left: -51px !important;
    }
}

@media (max-width:376px) {
    .ds_sales_box{
        left: 0px !important;
    }
}